<ion-header>
  <ion-navbar>
    <ion-title>{{recipe.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addRecipeToWeeklyMenu()">
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-label padding-left padding-top>INGREDIENTS</ion-label>
  <ion-list no-lines>
    <ion-item text-wrap>
      <h3 *ngFor="let ingredient of recipe.ingredients">{{ingredient.text}}</h3>
    </ion-item>
    <ion-label padding-left padding-top>DIRECTIONS</ion-label>
    <ion-list no-lines>
        <ion-item *ngFor="let direction of recipe.directions" text-wrap>
            <h3>Step {{direction.step}}</h3>
            <h3>{{direction.text}}</h3>
        </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
