page-category-list {
  .scroll-content {
    background: #EDEDED;
  }
  .category-card ion-card-header .item {
    padding: 4px 16px;
  }
  .category-card ion-card-header,
  .category-card ion-card-content,
  .category-card ion-card-content .list ion-item-content,
  {
    padding: 0;
  }
  ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}

ion-modal {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}
